<div *ngIf="!isLoading; else loadingSkeleton" class="main-container">
    <div class="container-template profile-container">
        <span><b>{{ patronFullName() }}</b></span><br>
        <span>{{patron.cardNumber}}</span>
    </div>
    <div class="container-template books-container">
        <h4><b>Holds</b></h4>
        <table>
            <ng-container *ngFor="let bi of patronHolds">
                <tr>
                    <td><a class="txtlink">{{bi.title}}</a></td>
                    <td><button (click)="cancelHold(bi.bookId)">Cancel</button></td>
                </tr>
            </ng-container>
        </table>
    </div>
    <div class="container-template books-container">
        <h4><b>Checked out books</b></h4>
        <table>
            <ng-container *ngFor="let bi of patronCheckouts">
                <tr>
                    <td><a class="txtlink">{{bi.title}}</a></td>
                    
                    <td *ngIf="isOverdue(bi)">
                        <app-book-instance-status [status]="bi.status"></app-book-instance-status>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>
<ng-template #loadingSkeleton>
    <div class="main-container"> loading...</div>
</ng-template>