* {
    margin-bottom: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-template {
    width: 350px;
    padding: 16px 16px;
}

.profile-container {
    border: 1px solid #dddddd;
}

.contacts-container {
    height: 100px;
}

table {
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 4px;
}


button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
    //margin: auto;
}

.txtlink {
    color: rgb(34, 69, 144);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
